@font-face {
  font-family: montserrat;
  src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: poppins-black;
  src: url(../assets/fonts/Poppins-Black.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: poppins-black;
  text-transform: uppercase;
}

h1 {
  line-height: 3.444rem;
  font-size: 2.833rem;
}

h2 {
  line-height: 2.833rem;
  font-size: 2.333rem;
  letter-spacing: -1px;
}

h3 {
  line-height: 2.333rem;
  font-size: 1.833rem;
}

h4 {
  line-height: 1.833rem;
  font-size: 1.333rem;
}
