@font-face {
  font-family: montserrat;
  src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: poppins-black;
  src: url(../../public/fonts/Poppins-Black.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins-black;
  text-transform: uppercase;
}

h2 {
  line-height: 2.833rem;
  font-size: 2.333rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
