.profil {
  background-image: url(../../../assets/images/SimonProfil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.dash::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background: var(--text-color-title);
}
