.portfolio-card-animation h4 {
  opacity: 0;
}

.portfolio-card-animation:hover h4 {
  opacity: 1;
  transition: all 0.7s ease;
}

.portfolio-card-animation:hover h4 span {
  transform: translateY(0);
}
